<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">Ensalada</div>
        <form action="/Ensalada/iniciarCreacion" method='POST'>
        <div class="panel-body">
            <h1>Ajustar Ensalada:</h1>
            <div class="row">
                <div class="col-md-4">
                    <p>Seleccione la ensalada que desea:</p>
                    <div>
                        <select class="select-css" id="table1" name="ensalada">
                            {{#each resEnsaladas}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <p>Seleccione el tama単o que desea:</p>
                    <div>
                        <select class="select-css" id="table2" name="tamanno">
                            {{#each resTamannosEnsalada}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <p>Adicionar Vinagreta:</p>
                    <div>
                        <select class="select-css" id="table3" name="vinagreta">
                            <option value="Ninguna" selected>Ninguna</option>
                            {{#each resVinagretas}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>Selecione los ingredientes que desea:</p>
                    <div class="table-responsive">
                        <table class= "table table-hover table-condensed table-bordered" id="tablePM">
                            <tr>
                                <th>Ingrediente</th>
                                <th>Agregar</th>
                                <th>Extra</th>
                            </tr>
                            {{#each resIngredientes}}
                                <tr name="ingrediente">
                                    <td>{{this}}</td>
                                    <td><input type="checkbox" name="ag-{{this}}"></td>
                                    <td><input type="checkbox" name="ex-{{this}}"></td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="div-group">
                        <label for="cantidad">Cantidad de ensaladas:</label>
                        <input name="cantidad" type="text" class="form-control" id="cantidad" required>
                    </div>
                    <div class="checkbox" name="checkbox">
                        <label><input type="checkbox" name="pollo">A単adir Pollo</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-4">
                    <a href="dashboard" class="btn btn-danger">
                        Cancelar
                    </a>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-danger" name="A単adir al Carrito" value="A単adir al Carrito">
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
